@font-face {
  font-family: 'BerlingNovaDisplayPro';
  src: url('/Content/Fonts/2C5E3B_0_0.eot');
  src: url('/Content/Fonts/2C5E3B_0_0.eot?#iefix') format('embedded-opentype'), url('/Content/Fonts/2C5E3B_0_0.woff2') format('woff2'), url('/Content/Fonts/2C5E3B_0_0.woff') format('woff'), url('/Content/Fonts/2C5E3B_0_0.ttf') format('truetype');
}
body {
  font-family: "proxima-nova", Arial, sans-serif;
  font-weight: 300;
  color: #212424;
}
svg {
	text {
  		font-family: "proxima-nova", Arial, sans-serif;
  		font-weight: 400;
  		font-size: 12px;
  	}
}

